.header {
  width: 100%;
  max-width: 1400px;

  margin: auto;
  padding-block: 100px;
  padding-inline: 80px;

  background-image: radial-gradient(#777 5%, transparent 0);
  background-size: 50px 50px;

  overflow: hidden;
}

.content {
  width: 100%;

  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.title {
  font-size: 3rem;

  @media (min-width: 1200px) {
    font-size: 4rem;
  }
}

.subtitle {
  font-size: 1.5rem;

  @media (min-width: 992px) {
    font-size: 2rem;
  }

  @media (min-width: 1200px) {
    font-size: 3rem;
  }
}

.square {
  position: absolute;
  top: -20%;
  left: 20%;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 400px;

  @media (min-width: 992px) {
    top: -10%;
  }
}

.triangle {
  position: absolute;
  top: 70%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(45deg);

  z-index: -1;

  width: 200px;
  height: 400px;

  @media (min-width: 992px) {
    top: 50%;
  }
}

.links {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 50px;

  @media (min-width: 992px) {
    margin-top: 0;
    justify-content: flex-start;
  }
}
