.header {
  font-size: 4rem;
  line-height: 0.6;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100vw;
  max-width: 1050px;

  margin: auto;
  padding-block: 30px;
  padding-inline: 10px;
}

.surname {
  margin-left: 30px;
}

.title {
  margin-top: 30px;
}
