.link {
  display: inline-flex;
  height: 70px;
  padding: 0 15px 0 50px;
  background-color: var(--primary-color);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 70px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.link svg {
  margin-left: 30px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}
