.link {
  display: inline-flex;
  height: 60px;
  padding: 0 10px 0 30px;
  background-color: #0f0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 70px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;

  @media (min-width: 992px) {
    padding: 0 15px 0 50px;
    font-size: 1rem;
    height: 70px;
  }
}

.link svg {
  margin-left: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: rgb(0, 0, 0);

  @media (min-width: 992px) {
    margin-left: 30px;
  }
}
